{
    "host":  "mail.example.org",
	"port":  465,
	"username":  "no-reply@example.org",
	"password":  "",
	"from":  "monitor <no-reply@example.org>",
	"to":  [
		"info <info@example.org>"
	],
	"subject": "Neue Anmeldung auf dem Server"
}
